<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trial.example.med51">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Edit7"></activity>
        <activity android:name=".Add7" />
        <activity android:name=".Surat" />
        <activity android:name=".Edit6" />
        <activity android:name=".Add6" />
        <activity android:name=".Edit5" />
        <activity android:name=".Add5" />
        <activity android:name=".Edit4" />
        <activity android:name=".Add4" />
        <activity android:name=".Edit3" />
        <activity android:name=".Add3" />
        <activity android:name=".Edit2" />
        <activity android:name=".Add2" />
        <activity android:name=".EditRecordActivity" />
        <activity android:name=".AddRecordActivity" />
        <activity android:name=".Bilimora" />
        <activity android:name=".Bhavnagar" />
        <activity android:name=".Rajkot" />
        <activity android:name=".Porbandar" />
        <activity android:name=".Kutch" />
        <activity android:name=".Ahmedabad" />
        <activity android:name=".cities" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>